<section class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        class="w-8 h-8 mr-2"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
        alt="logo"
      />
      Pokémon
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold text-center leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          {{ isLoginPage() ? "Sign in" : "Sign up" }} to your account
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
        >
          <div>
            <label
              for="username"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your username</label
            >
            <input
              formControlName="username"
              autocomplete="off"
              type="text"
              placeholder="Enter username"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />

            <div
              *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['required']"
              class="text-red-500 text-sm"
            >
              Username is required.
            </div>

            <div
              *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['minlength']"
              class="text-red-500 text-sm"
            >
              Username must be at least
              {{ form.get('username')?.errors?.['minlength']?.requiredLength }}
              characters.
            </div>
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              formControlName="password"
              autocomplete="off"
              type="password"
              placeholder="Enter password"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />

            <div
              *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']"
              class="text-red-500 text-sm"
            >
              Password is required.
            </div>

            <div
              *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['minlength']"
              class="text-red-500 text-sm"
            >
              Password must be at least
              {{ form.get('password')?.errors?.['minlength']?.requiredLength }}
              characters.
            </div>
          </div>

          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer"
          >
            {{ isLoginPage() ? "Sign in" : "Sign up" }}
          </button>
          <p
            class="text-sm text-center font-light text-gray-500 dark:text-gray-400"
          >
            Don’t have an account yet?
            <button
              (click)="toggleMode()"
              class="font-medium text-primary-600 hover:underline dark:text-primary-500"
            >
              {{ isLoginPage() ? "Sign in" : "Sign up" }}
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

<app-toast [type]="type()"></app-toast>
